html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --main-color: #212121;
    --additional-color:#757575;
    --accent-color : #2196F3;
    --white-color: #FFFFFF;
    --background-color: #2F303A;
    --background-additionalcolor: #F5F4FA;
    --address-color:rgba(255, 255, 255, 0.6);
    --icon-color: #AFB1B8;
    --background-social-color:rgba(255, 255, 255, 0.1);
    --portfolio-text-color: rgba(117, 117, 117, 1);
    --background-deals:rgba(47, 48, 58, 0.8);
    --background-hoover:rgba(33, 150, 243, 0.9);
    --background-backdrop:rgba(0, 0, 0, 0.2);
    --border-button:rgba(0, 0, 0, 0.1);
}


h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
img {
    display:block;
    max-width: 100%;
    height:auto;
}
body {
    color: var(--additional-color);
    background-color: var(--white-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.seaction{
    padding-top: 94px;
    padding-bottom: 94px;
}
.seaction.no-padding {
    padding-top: 0;
}
.seaction-title {
    color: var(--main-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}
.button {
    cursor: pointer;
    font-family: Roboto, sans-serif;
    border-radius: 4px;
    border:0;
    padding: 6px 22px;
    min-height: 38px;
}

/* header */
.header {
    display:flex;
    border-bottom: 1px solid #ECECEC;
}


.site-nav .item:not(:last-child) {
    margin-right: 50px;
}
.auth-nav {
    margin-left: auto;
}

.auth-nav .item:not(:last-child) {
    margin-right: 30px;
}
.main-nav,
.second-nav,
.site-nav,
.auth-nav {
    display:flex;
    align-items: center;
}


.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    
    margin-right: 93px;

}
.header .logo {
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo,
.nav.link {
    color: var(--main-color);
}
.auth.link {
    color: var(--additional-color);
}

.logo-first-word {
    color: var(--accent-color);
}


.auth.link,
.nav.link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .icon {
    margin-right: 10px;
    fill: currentColor;
}

.nav.link.current,
.nav.link:focus,
.nav.link:hover,
.auth.link:focus,
.auth.link:hover {
    color: var(--accent-color);
}

.nav.current {
    position: relative;
}
.nav.current::after {
    content: '';

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);

    position: absolute;
    bottom: 0px;
}

.auth.link {
    display: flex;
    align-items: center;
}

/* Hero */
.hero {
    background-color: var(--background-color);
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;


    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url('../images/herologo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    
}
.hero .container {
    width: 696px;

}
.hero-title {
    color: var(--white-color);
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.button.main {
    color: var(--white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;
}

/* Advantages*/
.advantages-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advantage {
    color: var(--main-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.advantage-description {
    line-height: 1.71;
    margin-top: 0;
    margin-bottom: 0;
}
.advantage-scroll {
    display:flex;
    padding-left: 0;
}
.advantage-scroll .item {
    width: 270px;
    margin-right: 30px;
}
.advantage-scroll .item:last-child{
    margin-right: 0;
}

.advantage-scroll .icon {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: var(--background-additionalcolor);

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}



/* Чем мы занимаемся */
.deals {
    display: flex;
}
.deal-list:not(:last-child) {
    margin-right: 30px;
}

.deal-thumb {
    position: relative;
}

.deal-description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
    text-align: center;

   margin-top: 0;
   margin-bottom: 0;

   position: absolute;
   bottom: 0;


   background-color: var(--background-deals);
   width: 100%;
   height: 70px;

   display: flex;
   justify-content: center;
   align-items: center;
}
/* Наша команда  */
.team {
    background-color: var(--background-additionalcolor);
    display: flex;
}
.team-member {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-member:not(:last-child) {
    margin-right: 30px;
}
.team-member .description {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-name {
    color: var(--main-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;

}

.team-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
}

.social,
.social .link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social .link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--icon-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social .item:not(:last-child) {
    margin-right: 10px;
}
.social .link:hover,
.social .link:focus {
    background-color: var(--accent-color);
    fill:var(--white-color);
}

/* Клиенты */
.clients-scroll {
    display: flex;
}

.clients-scroll .item:not(:last-child) {
    margin-right: 30px;
}

.client {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 172px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    fill: var(--icon-color);

    transition: 
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client:hover,
.client:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}
/* Footer */
.footer {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer .container {
    display: flex;
    align-items: baseline;
}
.logo.second {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--white-color);
}


.adress-location {
    color: var(--white-color);
    font-style: normal;
    line-height: 1.71;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-mail,
.adress-tel {
    display: inline-block;
    color: var(--address-color);
    font-style: normal;
    line-height: 1.71;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .item:not(:last-child) {
    margin-bottom: 9px;
}
.adress-location:hover,
.adress-location:focus,
.adress-mail:hover,
.adress-mail:focus,
.adress-tel:hover,
.adress-tel:focus {
    color: var(--accent-color);
}

.networks {
    display: flex;
    align-items: center;
}
.join-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);

    margin-top: 0;
    margin-bottom: 20px;
}
.contacts-block {
    margin-right: 70px;
}
.networks .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: var(--background-social-color);
    fill: var(--white-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks .item:not(:last-child) {
    margin-right: 10px;
}

.networks .link:hover,
.networks .link:focus {
    background-color: var(--accent-color);
}



/* Portfolio */

/* buttons */
.filters {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.filter {
    display: inline-block;
    color: var(--main-color);
    background-color: var(--background-additionalcolor);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   

.filter:hover,
.filter:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter.current {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters .item:not(:last-child) {
    margin-right: 8px;
}
.examples {
    display: flex;
    flex-wrap: wrap;
}
.example {
    display: block;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-bottom: 30px;

}
.example-thumb {
    position: relative;
    overflow: hidden;
}
.example-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-hoover);

    display: flex;
    justify-content: center;
    padding-top: 63px;
    padding-bottom: 63px;
    transform: translateY(101%);

    transition: 
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: var(--white-color);

    margin: 0;
}
.example-hover .hover-description {
    width: 322px;
}
.example-link {
    display: block;
    text-decoration: none;

    transition: 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-link:hover,
.example-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(184, 75, 75, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-link:hover .example-hover,
.example-link:focus .example-hover {
    transform: translateY(0); 
}

.example:nth-child(3n+3){
    margin-right: 0;
}
.example:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.examples-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.example-name {
    color: var(--main-color);
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    margin-bottom: 4px;
}
.example-class {
    font-size: 16px;
    line-height: 1.88;
    color: var(--portfolio-text-color);
    
    margin-top: 0;
    margin-bottom: 0;
}
.example .description {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left:  1px solid #EEEEEE;;
    border-bottom:  1px solid #EEEEEE;;
    border-right:  1px solid #EEEEEE;;
}


/* Модальное окно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--background-backdrop);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%,-50%) scale(0);

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);

    min-width: 528px;
    min-height: 581px;

    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding: 8px; 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal {
    min-width: 30px;
    min-height: 30px;
    background: var(--white-color);
    border: 1px solid var(--border-button);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    cursor: pointer;
}





